{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-2",
    "react"
  ],
  "env": {
    "development": {
      "plugins": ["flow-react-proptypes"]
    }
  },
  "plugins": [
    "react-hot-loader/babel",
    "transform-flow-comments"
  ]
}